{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg">
        <div class="row no-gutters">
          <div class="col-lg-12">
            {% if product.image.url %}
            <img class="img-fluid" src="{{ product.image.url }}" />
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-lg">
        <div class="mt-4 mt-lg-0">
          <h1 class="h2">{{ product.name }}</h1>
          <p class="lead">{{ product.description_short }}</p>
          <p class="lead">
            {% if product.price_promo %}
            <span id="variation-preco-promocional" class="lead product-price">
              {{ product.get_price_promo }}
            </span>
            <span
              id="variation-preco"
              class="lead product-old-price text-muted">
              {{ product.get_price }}
            </span>
            {% else %}
            <span id="variation-preco" class="lead product-price">
              {{ product.get_price }}
            </span>
            {% endif %}
          </p>

          <form action="{% url "products:cart-add" %}" id="form-add-to-cart">
            <div class="form-group">
              {% if product.type == 'V' %}
                <select
                  id="select-variacoes"
                  name="vid"
                  class="form-control form-control-lg"
                >
                  {% for v in product.variation_set.all %}
                    <option
                    data-preco="{{ v.get_price }}"
                    data-preco-promocional="{{ v.get_price_promo }}"
                    value={{ v.id }}
                    >
                    {{ v.name }}
                    </option>
                  {% endfor %}
                </select>
              {% endif %}
          </div>

            <div class="text-left">
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Adicionar ao carrinho
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="mt-5 mb-5">
          <h2 class="text-center">{{ product.name }}</h2>
          {{ product.description_long | safe }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
