{% extends "base.html" %} {% block content %}
<div class="row mb-5">
  <div class="col-lg">
    <h2>Resumo da sua compra</h2>

    <p class="lead">Dados do usuário</p>
    <p>
      Caso precise editar, <a href="{% url 'profiles:create' %}">clique aqui</a>
    </p>
    <dl class="row">
      <dt class="col-lg-2">Nome:</dt>
      <dd class="col-lg-4">{{ user.first_name }}</dd>
      <dt class="col-lg-2">Sobrenome:</dt>
      <dd class="col-lg-4">{{ user.last_name }}</dd>

      <dt class="col-lg-2">Idade:</dt>
      <dd class="col-lg-4">{{ profile.age }}</dd>
      <dt class="col-lg-2">Nascimento:</dt>
      <dd class="col-lg-4">{{ profile.birth_date }}</dd>

      <dt class="col-lg-2">CPF:</dt>
      <dd class="col-lg-4">{{ profile.document }}</dd>
      <dt class="col-lg-2">E-mail:</dt>
      <dd class="col-lg-4">{{ user.email }}</dd>
    </dl>

    <p class="lead">Dados de endereço</p>
    <p>
      Caso precise editar, <a href="{% url 'profiles:create' %}">clique aqui</a>
    </p>
    <dl class="row">
      <dt class="col-lg-2">Endereço:</dt>
      <dd class="col-lg-4">{{ address.address }}</dd>
      <dt class="col-lg-2">Número:</dt>
      <dd class="col-lg-4">{{ address.number }}</dd>

      <dt class="col-lg-2">Bairro:</dt>
      <dd class="col-lg-4">{{ address.neighborhood }}</dd>

      <dt class="col-lg-2">Cidade:</dt>
      <dd class="col-lg-4">{{ address.city }}</dd>
      <dt class="col-lg-2">Estado:</dt>
      <dd class="col-lg-4">{{ address.state }}</dd>

      <dt class="col-lg-2">CEP:</dt>
      <dd class="col-lg-4">{{ address.code }}</dd>
    </dl>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h3>Resumo do carrinho</h3>
    <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>

    {% include 'partials/_cart.html' %}
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <p class="lead text-center">
      <span class="font-weight-bold">Total do carrinho:</span>
      {{ cart_total_price }}
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <a class="btn btn-lg btn-block btn-primary" href="#"
      >Realizar pedido e pagar</a
    >
  </div>
</div>

{% endblock content %}
