{% extends "base.html" %} {% block content %}
<div class="row mt-3">
  <div class="col">
    <h3>Carrinho de compras</h3>

    {% if products %}
      <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>
      
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th class="d-none d-lg-block">Imagem</th>
            <th>Produto</th>
            <th>Var.</th>
            <th>Qtd.</th>
            <th>Valor unit.</th>
            <th>Total</th>
          </tr>
          
          {% for product in products %}
          <tr>
            <td class="d-none d-lg-block">
              <img class="cart-img" src="{{product.image}}" />
            </td>
            <td>
              <a href="{% url "products:detail" product.slug %}">{{product.name}}</a>
              <a class="ml-3" href="{% url "products:cart-remove" %}?vid={{ product.id }}">
                <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
              </a>
            </td>
            <td>{{ product.variation}}</td>
            <td>{{ product.quantity }}</td>
            {% if product.total_promo %}
            <td>{{ product.price_promo }}</td>
            <td>{{ product.total_promo }}</td>
            {% else %}
            <td>{{ product.price }}</td>
            <td>{{ product.total }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg">
      <p class="lead">Total no carrinho</p>
      
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td class="font-weight-bold">Total</td>
            <td>{{ cart_total_price }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg mt-auto">
      <a class="btn btn-lg btn-block btn-primary" href="#">
        Finalizar a compra
      </a>
    {% else %}
      <p class="lead">Seu carrinho está vazio.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
